*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 62.5%;
    font-size: 1rem;
}

.search_icon{
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: 32px center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}