*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
html{
    font-size: 62.5%;
    font-size: 1rem;
}

.search_input{
    background-image: url("../images/Search.png");
    background-repeat: no-repeat;
    background-position: 32px center;
}